<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  
    <title>Fast Desktop App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script>window.$ = window.jQuery = require('../../node_modules/jquery/dist/jquery.js');</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../dist/algoritmos/data.js"></script>
    <script src="../dist/algoritmos/graph.js"></script>
    <script src="../dist/algoritmos/routing.js"></script>
    <link rel="stylesheet" href="../dist/inputs.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
    integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
    crossorigin=""></script>
    <style>
    
    #map{
    background-color:#ccc;
   
    width: 100%;
    height: 93%;
    cursor:pointer;
  }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Fast</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Agregar pesos (nodos) </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter">Guardar </a>
          <a class="dropdown-item" href="#">Leer archivo</a>
          <a class="dropdown-item" href="#">Interpretar imagen</a>
        </div>
      </li>
    
      <li class="nav-item">
            <a class="nav-link" href="#">Rendimiento</a>
      </li>
      <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalLong">Acerca</a>
          </li>
     
    </ul>
    
    <div class="form-inline my-2 my-lg-0">
      <input id="place_input" class="controls form-control mr-sm-2" type="search" placeholder="Lugar" aria-label="Search">
      <button id="getRoute" class="btn btn-success my-2 my-sm-0" type="submit">Agregar nodo</button>

    </div>
    

    


  </div>
</nav>


    
    
    <div id="map"></div>
   



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Coordenadas</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="http://fast.tliapp.com.mx/create.php" method="post">
            <div class="modal-body">

                <div class="form-group">
                    <input required type="text" name="nombre" id="nombre" class="form-control" placeholder="Escribe el nombre de la ubicacion">
                </div>

                <div class="form-group">
                    <input required name="latitud" id="latitud" type="text" class="form-control" placeholder="Latitud: 33.64017019720775">
                </div>

                <div class="form-group">
                    <input required name="longitud" id="longitud" type="text" class="form-control" placeholder="Longitud: -84.444197108928">
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerra</button>
              <button id="btnSaveCoordenate" type="button" class="btn btn-primary">Guardar</button>
            </div>
            </form>

          </div>
        </div>
      </div>



      <!--Modal acerca-->
      <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Acerca De:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">Fast Desktop App</h4>
                    <hr>
                    <h6 class="text-left">Problematica:</h6>
                    <p align="justify">
                            La idea de la realización del programa llamado “Fast” surgió de acuerdo a la problemática
                            a que varios usuarios desean hacer pedidos de encargos a el punto donde se localizan y el
                            punto donde el repartidor recogerá el pedido para entregárselo y sin necesidad de salir 
                            desde sus propias casas ya que colocan su punto de inicio y su punto de entrega o cual podrá
                            iniciar.
                    </p>
                    
                    <h6 class="text-left">Herramientas, lenguajes y librerías:</h6>    
                    <p align="justify">
                    Dentro de este proyecto se empleó el uso de algunas herramientas tales como NPM,
                    y el lenguaje JavaScript además del uso de Electron.js Dentro de las librerías 
                    esta el uso de los Mapas de Google. Se incluye el us de una base de datos con 
                    phpmyadmin. Así como IDE como visual Studio Code
                    </p>

                    <h6 class="text-left">Desarrollada por:</h6>
                        <div class="text-left">
                                <p>Gustavo Martinez Licona</p>
                                <p>Gerardo Facundo Del Angel</p>
                                <p>Hugo Dario Luna Cruz</p>
                        </div>

                        <p class="text-center"> <i>&copy; 2018 Todos los derechos reservados por Fast Inc </i></p>
                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
            </div>
        </div>


      <script src="../dist/create/saveCoordenada.js"></script>


   
    
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


<script>

var centerLng = 21.3500041;
var centerLat = -98.244856;


var map = L.map('map').setView([centerLng,centerLat], 15);
var buffer = 0.04;
var collection = [];
var geojsonlist = [];

L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png', {
    attribution: '<a style="color:#000" target="_blank" href="http://www.github.com/HugoLuna5/fast">Repository Fast</a> | <a style="color:#000" href="mailto:hugo_1199@hotmail.com">hugo_1199@hotmail.com</a>'
}).addTo(map);

var nodes = {
  "A":{coord:[21.3533009995931,-98.23341584603708]},
  "B":{coord:[21.354020445772637,-98.22448945443551]},
  "C":{coord:[21.344907199891512,-98.2274935285322]},
  "D":{coord:[21.349623775074885,-98.22440362374704]},
  "E":{coord:[21.351862096638484,-98.21968293588083]},
  "F":{coord:[21.346026400954827,-98.21659303109567]}




};

var geojson = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -98.23341584603708,
          21.3533009995931
        ]
      },
      "properties": {}
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -98.22448945443551,
          21.354020445772637
        ]
      },
      "properties": {}
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -98.2274935285322,
          21.344907199891512
        ]
      },
      "properties": {}
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -98.22440362374704,
          21.349623775074885
        ]
      },
      "properties": {}
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -98.21968293588083,
          21.351862096638484
        ]
      },
      "properties": {}
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -98.21659303109567,
          21.346026400954827
        ]
      },
      "properties": {}
    }
  ]
}

L.geoJSON(geojson, {style: {color:"#ff0000"}}).addTo(map);

function showNodes(nodes){
  for(var a in nodes){
    L.circleMarker(nodes[a].coord,{radius:5,color:"#0000ff",fillOpacity:1}).bindPopup('Punto '+a).addTo(map);
  }
}


var basicGraph = [
{start:"A",finish:"B",distance:10},
{start:"A",finish:"C",distance:15},
{start:"B",finish:"F",distance:15},
{start:"B",finish:"D",distance:12},
{start:"C",finish:"E",distance:10},
{start:"F",finish:"E",distance:5},
{start:"D",finish:"F",distance:1},
{start:"D",finish:"E",distance:2}
];

var graph = readyGraph(basicGraph);
var start = "A";
var finish = "F";

var shortestPath = dijkstra(graph,start,finish);
debugger;
showPath(start,shortestPath.path);
showNodes(nodes);
showStartFinish(start,finish);

function showStartFinish(start,finish){
  L.circleMarker(nodes[start].coord,{radius:8,color:"#00ff00",fillOpacity:1}).bindPopup(start+' Inicio').addTo(map);
  L.circleMarker(nodes[finish].coord,{radius:8,color:"#ff0000",fillOpacity:1}).bindPopup(finish+'  Final').addTo(map);
}

function showPath(start,path){
  var lineCoords = [];
  lineCoords.push(nodes[start].coord);
  for(var i=0;i<path.length;i++){
      var nodeName =path[i];
      lineCoords.push(nodes[nodeName].coord);
  }
  var polyline = L.polyline(lineCoords, {color: 'blue'}).addTo(map);
}

function dijkstra(graph,s,f) {
    debugger;
    var solutions = {};
    solutions[s] = [];
    solutions[s].dist = 0;
    while(true) {
        var parent = null;
        var nearest = null;
        var dist = Infinity;
        for(var n in solutions) {
            if(!solutions[n])
                continue
            var ndist = solutions[n].dist;
            var adj = graph[n];
            for(var a in adj) {
                if(solutions[a])
                    continue;
                var d = adj[a] + ndist;
                if(d < dist) {
                    parent = solutions[n];
                    nearest = a;
                    dist = d;
                }
            }
        }
        if(dist === Infinity) {
            break;
        }
        solutions[nearest] = parent.concat(nearest);
        solutions[nearest].dist = dist;
    }
    var finish = solutions[f];
    return {results:solutions,path:finish,distance:finish.dist};
}


function readyGraph(paths) {
    debugger;
    var graph = {};
    for(var i in paths){
        var path = paths[i];
        var start=path["start"];
        var finish=path["finish"];
        var distance=path["distance"];
        if(typeof graph[start]=="undefined"){
            graph[start]={};
            graph[start][finish]=distance;
        }else{
            graph[start][finish]=distance;
        }
        if(typeof graph[finish]=="undefined"){
            graph[finish]={};
            graph[finish][start]=distance;
        }else{
            graph[finish][start]=distance;
        }
    }
    return graph;
}




</script>


  
</body>

</html>